/* Whole document: */
@font-face {
    font-family: 'Panton';
    src: url('Panton-Regular.woff2') format('woff2'),
         url('Panton-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body, .book, .book .book-summary, .book .book-body {
  font-family: 'Panton', sans-serif !important;
}

html
{
   font-family: Panton;
}
body{
  font-family: Panton;
  font-size: 10;
}
/* Headers */
h1,h2,h3,h4,h5,h6{
  font-family: Panton;
  font-size: 12;
}

p{
    font-family: Panton;
    font-size: 10;
}

ul{
    font-family: Panton;
    font-size: 10;
}

ol{
    font-family: Panton;
    font-size: 10;
}
